In [1]:
import pandas as pd

In [2]:
initial_data = pd.read_csv('./data/vehiclePositions.csv')

In [3]:
initial_data.columns
#Timestamp - moment when the data was captured
#LineId - number of the line
#DirectionId - Destination where vehicle is going
#DistanceFromPoint - distance from the pointId
#PointID - last stop the vehicle traveressed

Index(['Timestamp', 'LineId', 'DirectionId', 'DistanceFromPoint', 'PointId'], dtype='object')

In [14]:
initial_data

              Timestamp  LineId  DirectionId  DistanceFromPoint  PointId
0         1630914886924       1         8161                  1     8012
1         1630914886924       1         8162                  0     8142
2         1630914886924       1         8162                  0     8282
3         1630914886924       1         8731                  0     8111
4         1630914886924       1         8162                  1     8062
...                 ...     ...          ...                ...      ...
19421878  1632241153806      97         9972                 89     6078
19421879  1632241153806      98         1951                  0     2384
19421880  1632241153806      98         2382                  0     1951
19421881  1632241153806      98         5058                122     9649
19421882  1632241153806      98         2382                212     5920

[19421883 rows x 5 columns]